html, body{
     margin: 0 auto;
     background: #edeef0;
}
.navbar-white{
    background-color: white;
}
.logout{
    margin-top: 5px;
    position: absolute;
    margin-left: 52%;
}
.btn-logout{
    border: 1px solid;
    border-radius: 4px;
    background-color: #edeef0;
    border-color: #777;
    color: #777;
    padding: 8px 8px;

}
.form{
    background-color: white;
    margin-top: 40%;
    padding: 15px 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.tabl{
    border: 1px solid;
    border-radius: 4px;
}